@import '../assets/scss/base/_variables';
// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.footer {
  background-color: $gray-dark;
  color: $gray-light;
  padding: 5rem 0;
  text-align: center
}